<!--**************
Nombre del Módulo: e-CINVESTAV Módulo de seguimiento de egresados del CINVESTAV-IPN.
Descripción: Archivo encargado de cargar la base del módulo.
Nombre del desarrollador:Almazán Bombela Edwin Giovanni.
Fecha de Desarrollo: 21-Mayo-2020
Versión: 1.4.4
**************
Nombre del Modificador: Almazán Bombela Edwin Giovanni.
Descripción de la modificación: Cambios en la documentación.
Fecha de la Modificación: 25-Mayo-2020
**************-->
{% extends "base.html" %}
{% block title %}
Preguntas Frecuentes
{% endblock %}
{% block content %}

<!--Librerías-->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {packages: ['corechart', 'line']});
google.charts.setOnLoadCallback(drawTrendlines);

function drawTrendlines() {
      var data = new google.visualization.DataTable();
      data.addColumn('number', 'X');
      data.addColumn('number', 'Price Promos');
      data.addColumn('number', 'Other Promos');
      data.addColumn('number', 'Total Promos');

      data.addRows([
        [0, 0, 0, 0],   [1, 10, 5, 15],   [2, 23, 15, 38],  [3, 17, 9, 28],   [4, 18, 10, 28],  [5, 9, 5, 14],
        [6, 11, 3, 14],   [7, 27, 19, 46],  [8, 33, 25, 58],  [9, 40, 32, 72],  [10, 32, 24, 56], [11, 35, 27, 62],
        [12, 30, 22, 52], [13, 40, 32, 72], [14, 42, 34, 76], [15, 47, 39, 86], [16, 44, 36, 80], [17, 48, 40, 98],
      ]);

      var options = {
        hAxis: {
          title: 'Time'
        },
        vAxis: {
          title: 'Popularity'
        },
        colors: ['#AB0D06', '#007329'],
        trendlines: {
          0: {type: 'exponential', color: '#333', opacity: 1},
          1: {type: 'linear', color: '#111', opacity: .3}
        }
      };

      var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
      chart.draw(data, options);
    }
  </script>

</script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
    google.charts.load('current', {'packages':['bar']});
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
      var jsonData = $.ajax({
        url: "http://192.168.0.13:8080/barchar",
        dataType: "json",
        type: "GET",
        async: false
        }).responseText;
      var data = new google.visualization.DataTable(jsonData);

      var options = {
        chart: {
          title: 'Total of Promos',
          subtitle: '',
        }
      };

      var chart = new google.charts.Bar(document.getElementById('columnchart_material'));

      chart.draw(data, google.charts.Bar.convertOptions(options));
    }
  </script>
</head>
</head>
<body>
  <div id="chart_div"></div>
  <div id="columnchart_material" style="width: 800px; height: 500px;"></div>
</body>
{% endblock %}
